.aboutUs__walletValues {
  width: 50%;
  display: flex;
  position: absolute;
  bottom: 10%;
  background: linear-gradient(
    90deg,
    rgba(136, 84, 62, 0.6) 0%,
    rgba(60, 11, 0, 0.4) 94%
  );
  padding: 0.2rem 0 0.2rem 5rem;
  min-width: 40rem;
}
.aboutUs__walletValues__graphic {
  display: flex;
  justify-content: space-between;
  min-width: 40rem;
  width: 100%;
  color: #fff;
}

.aboutUs__walletValues__graphicColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.aboutUs__walletValues__graphicColumn__contain {
  display: flex;
  align-items: center;
  width: 100%;
}

.aboutUs__walletValues__graphicColumn__contain p {
  transform: rotate(90deg);
  font-size: 13px;
  margin-right: 0.1rem;
}
.aboutUs__walletValues__graphicColumn__contain h3 {
  font-size: 16px;
  margin: 0;
  margin-left: 0.5rem;
  margin-right: 2rem;
}
.aboutUs__walletValues__graphicColumn__contain strong {
  color: #e8c249;
}

.aboutUs__walletValues__graphicColumn__containImage {
  width: 100%;
  min-width: 8rem;
  max-width: 10rem;
}

.aboutUs__walletValues__graphicColumn__walletImage {
  width: 100%;
  min-width: 15rem;
  position: absolute;
  top: -60%;
}
