.button{
    outline: none;
    border: 0;
    background: linear-gradient(to left, #a8830a 0%, #cead54 100%);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: .6rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}