.ajust {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.backgroundImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.2; */
}

.backgroundImage div {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content h1 {
  position: absolute;
  color: rgb(50, 11, 2);
  font-size: 50px;
  padding: 5% 0 0 5%;
  text-shadow: 1px 1px 1px #000;
  font-style: italic;
}

.contentCards {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3%;
  position: relative;
  bottom: 3%;
}

.contentCards__card {
  width: 100%;
}

.contentCards__cardTitle {
  width: 100%;
  position: relative;
  margin-bottom: -20%;
  margin-left: 8%;
}

.contentCards__cardQ {
  position: absolute;
  top: 10%;
  right: 15%;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.contentCards__cardTitle__image {
  position: relative;
  width: 100%;
  max-width: 15rem;
}

.contentCards__cardTitle__text {
  position: absolute;
  width: 100%;
  top: 12%;
  left: 5%;
  max-width: 12rem;
  color: #fff;
}

.contentCards__cardTitle__text h4 {
  margin: 0;
  text-transform: uppercase;
}
.contentCards__cardTitle__text h3 {
  margin: 0;
  text-transform: uppercase;
  text-align: end;
}

.contentCards__cardImage {
  width: 100%;
  max-width: 20rem;
  position: relative;
}

.contentCards__cardImage__text {
  position: absolute;
  top: 41%;
  margin: 0 15%;
}

.contentCards__cardImage__text p {
  margin: 0;
  font-size: 12px;
}

.ave {
  position: absolute;
  z-index: 1000;
  top: 18%;
  right: 5%;
  width: 14rem;
  display: inline-block;
  transition: transform 2s ease-out;
}

#firstCard:hover #firstAve {
  transform: translateX(-620%);
  opacity: 1;
}
#firstCard:hover #firstCard p,
#secondAve,
#thirdAve,
#fourthAve {
  opacity: 0;
}

#secondCard:hover #secondAve {
  transform: translateX(-420%);
  opacity: 1;
}
#secondCard:hover #secondCard p,
#firstAve,
#thirdAve,
#fourthAve {
  opacity: 0;
}

#thirdCard:hover #thirdAve {
  transform: translateX(-220%);
  opacity: 1;
}
#thirdCard:hover #thirdCard p,
#firstAve,
#secondtAve,
#fourthAve {
  opacity: 0;
}

#fourthCard:hover #fourthAve {
  transform: translateX(-20%);
  opacity: 1;
}
#fourthCard:hover #fourthCard p,
#firstAve,
#secondtAve,
#thirdAve {
  opacity: 0;
}
