@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;

.partners {
  background: colors.$white-100;
  padding: 1rem 0;

  & h2 {
    color: colors.$brown-light;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &Container {
    position: relative;
    width: 100%;
    height: auto;
    &__image {
      width: 100%;
      max-width: 10rem;
      margin: 0 auto;
      padding: 3% 0;
      @include breakpoints.min-xxl-large {
        max-width: 12rem;
      }
    }

    @include breakpoints.min-medium {
      height: 8rem;
      @include utilities.flexbox-params(flex, center, center);
      padding: 0 4%;
    }
    @include breakpoints.min-xxl-large {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}
