.root {
  background-color: rgba(0, 0, 0, 0.453);
  backdrop-filter: blur(0.5rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 9rem;
  justify-content: center;
  /* top: 2%; */
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10000;
}

.logo {
  position: relative;
  width: 15rem;
  height: 3rem;
  margin: 0 auto;
}
.logo div {
  position: relative;
  width: 100%;
  height: 100%;
}
