.contain{
    background: rgb(250,250,250);
    background: linear-gradient(0deg, rgba(250,250,250,1) 20%, rgba(0,0,0,1) 100%);
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.containerCoins{
    /* max-width: 40rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.coins{
    position: relative;
    width: 80%;
    max-width: 30rem;
    margin: 0 auto;
    position: relative;
}

.image{
    position: relative;
    width: 100%;
    /* max-width: 30rem; */
    margin: 0 auto;
    opacity: .8;
}

#image1{
    position: absolute;
    top: 0;
    left: -20%;
    width: 80%;    
}

.infoText{
    padding: 0 8%;
}

.infoText h2{
    text-transform: uppercase;
    color: #a8830a;
    text-shadow: 1px 1px 1px #000;
    font-size: 35px;
}
.infoText p{
    color: rgb(48, 48, 48);
    /* font-weight: bold; */
    font-size: 20px;
    line-height: 30px;
}