.background {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.backgroundImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.backgroundImage div {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 10000;
  width: 100%;
  height: 70vh;
  justify-content: space-between;
  top: 0;
}

.column {
  display: flex;
  justify-content: center;
}
.text {
  position: relative;
  flex-direction: column;
  top: 30%;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  max-width: 40rem;
  padding: 0 1rem;
}

.textIcon {
  position: relative;
  width: 100%;
  max-width: 18rem;
  margin: 2rem auto 0 auto;
}
