@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;

.intiNft {
  width: 100%;
  height: 100%;
  @include utilities.background-image-params(
    "/img/inti-nft/background.jpg",
    center,
    no-repeat,
    cover
  );
  overflow: hidden;

  &Content {
    width: 100%;
    height: calc(100% - hvalues.$header-mobile-h);
    margin-top: hvalues.$header-mobile-h;
    display: grid;
    grid-template-columns: 1fr;

    &__inicio {
      position: relative;
      width: 100%;
      color: colors.$white;
      text-align: center;
      margin-top: 2rem;
      padding: 2% 5%;

      & h2 {
        font-size: 40px;
        text-transform: uppercase;

        @include breakpoints.min-large {
          font-size: 25px;
        }
        @include breakpoints.min-xxxl-large {
          font-size: 35px;
        }
      }

      & h4 {
        font-size: 25px;
        cursor: pointer;

        @include breakpoints.min-large {
          font-size: 18px;
        }
        @include breakpoints.min-xxxl-large {
          font-size: 25px;
        }
      }

      & p {
        font-size: 18px;

        @include breakpoints.min-large {
          font-size: 12px;
        }
        @include breakpoints.min-xxxl-large {
          font-size: 18px;
        }
      }

      & a {
        text-decoration: none;
        color: colors.$white;
      }

      &Mint {
        display: none;

        @include breakpoints.min-large {
          display: block;
          margin-top: 3%;
          height: 100%;
          max-height: 20rem;
        }

        @include breakpoints.min-xxxl-large {
          max-height: 32rem;
        }
      }

      @include breakpoints.min-large {
        padding-top: 0;
        margin-top: 0;
      }
    }

    &__graphic {
      width: 100%;
      max-width: 40rem;
      height: auto;
      margin: 2rem auto 0 auto;
      padding: 0 5%;

      &Frame {
        position: relative;
        width: 100%;
        height: 100%;

        @include utilities.background-image-params(
          "/img/inti-nft/frame-gif.png",
          center,
          no-repeat,
          contain
        );
        padding: 10%;

        & img {
          width: 100%;
          border-radius: 5%;
        }

        @include breakpoints.min-large {
          background-position: initial;
          padding: 12%;
        }
      }
      @include breakpoints.min-large {
        max-width: 22rem;
        margin: 5% auto 0 auto;
        padding: 0;
      }
      @include breakpoints.min-xxxl-large {
        max-width: 32rem;
      }
    }

    &__mintMobile {
      @include breakpoints.min-large {
        display: none;
      }
    }

    @include breakpoints.min-large {
      height: calc(100vh - hvalues.$header-h);
      margin-top: hvalues.$header-h;
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoints.min-xxxl-large {
      height: calc(100vh - hvalues.$header-max-h);
      margin-top: hvalues.$header-max-h;
    }
  }
}
