.containerInicio{
    width: 100%;
    background: black;
}

.homeContainer {
    transition: 3s opacity;
    opacity: 0 ;

}

.containerInicio .worldHomeContainer {
    background-color: #000;
    display: flex;
    height: 100vh;
    position: fixed;
    opacity: 1;
    width: 100%;
    z-index: 1000;
}


