@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;

.price {
  width: 100%;

  & hr {
    background-image: linear-gradient(
      to right,
      transparent,
      #4b6366,
      transparent
    );
    border: 0;
    margin: 1% auto 0 auto;
    width: 100%;
    height: 1px;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;

    & p {
      margin: 0;
      font-weight: bold;
      font-size: 12px;

      @include breakpoints.min-large {
        font-size: 9px;
      }
      @include breakpoints.min-xxl-large {
        font-size: 12px;
      }
    }

    & span {
      text-align: end;
      font-size: 12px;
      font-weight: bold;

      @include breakpoints.min-large {
        font-size: 9px;
      }
      @include breakpoints.min-xxl-large {
        font-size: 12px;
      }
    }
  }
}
