.contain {
  background: rgb(250, 250, 250);
  /* background: linear-gradient(0deg, rgba(250,250,250,1) 20%, rgba(0,0,0,1) 100%); */
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.containerCoins {
  /* max-width: 40rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.coins {
  position: relative;
  width: 80%;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
}

.text {
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text p {
  color: rgb(48, 48, 48);
  /* font-weight: bold; */
  font-size: 20px;
  line-height: 30px;
}

.text strong {
  color: #a8830a;
}

.text a {
  color: #a8830a;
  text-decoration: underline;
  text-transform: uppercase;
}
