/*
  Height-Values
  ==========================================================================
*/

// Header
$header-h: 6rem;
$header-mobile-h: 4rem;

// Carousel-Utility
$utility-h: 10rem;
$utility-mobile-h: 12.5rem;
